.about{
	background-color: #FFFFFF;
	height: 1000px;
	width: 100%;
	margin: 10px 15px ;
}
.about-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 800px;
	margin: 110px 60px 0px; 
}
.about-text-1{
	color: #1B2144;
	width: 630px;
	margin: 140px 0px 40px;
	background-color:transparent;
}
.about-text-1 > h1{
	text-decoration: bold;
	font-size: 35px;
	background-color: transparent;
	color: #1B2144;
}
.about-text-1 > h2{
	font-size: 22px;
	background-color: transparent;
	color: #0CA4A5;
}
.about-text-1 > h3{
	padding-top: 10px;
	font-size: 16px;
	background-color: transparent;
}

.about-text-2 {
	background-color: transparent;
	width: 320px;
	margin-top: 30px;
}

.about-text-2 > h1{
	width: 222px;
	float: right;
	color: #1B2144;
	background-color: transparent;
}

.about-text-2 > p{
	width: 222px;
	float: right;
	font-size: 15px;
	color: #1B2144;
	background-color: transparent;
}

.about-text-2 > i{
	color: #0CA4A5;
	font-size: 50px;
}

.about-btn-1{
	margin: 740px 0px 0px 700px;
}

.about-btn-1 > a:hover{
	color: #0CA4A5;
}

/*About Page - 1*/
.about-1{
	background-color: #FFFFFF;
	height: 400px;
	width: 100%;
	margin:0px 15px 10px 15px ;
}

.about-text-3{
	background-color: transparent;
	width: 700px;
	margin: 50px 0px 0px 50px;
}

.about-text-3 > h1{
	text-decoration: bold;
	background-color: transparent;
	font-size: 40px;
	color: rgb(27, 33, 68);
	padding-bottom: 20px;
}

.about-text-3 > h1 > b{
	text-decoration: bold;
	background-color: transparent;
}


.about-text-3 > h2{
	padding: 0px 0px 10px 0px;
	color: #0CA4A5;
	background-color: transparent;
}

.about-text-3 > h3{
	font-size: 20px;
	background-color: transparent;
}

.about-text-4 {
	width: 700px;
	height: 400px;
	background-color:transparent;
}
.about-bar-1{
	font-size: 12px;
	background-color: transparent;
	height: 40px;
}
.about-bar-1-text{
	background-color: transparent;
	width: 570px;
	margin-left: 60px;
	color: #1B2144;
}
.about-bar-1-text > span{
	float: right;
	color: #1B2144;
	background-color: transparent;
}

.about-text-5{
	background-color: transparent;
	height: 400px;
	width: 620px;
}

.counter1{
	background-color:transparent;
	height: 100px;
	width: 200px;
	color:#0CA4A5;
}

.counter1 > .counter-value{
	background-color: transparent;
	width: 60px;
	float: left;
	font-size: 50px;
}

.counter1 > .counter-b-text-1{
	width: 100px;
	float: left;
	height: 100px;
	font-size: 30px;
	color: #1B2144;
	background-color: transparent;
}

.about-text-6{
	background-color: transparent;
	width: 250px;
	height: 100px;
	margin-left: 10px;
	background-color: transparent;
}

.about-company{
	background-color: #f6f6f6;
	height: 600px;
	width: 100%;
	margin:0px 15px 10px 15px;
}

.about-3{
	background-color: transparent;
}

.about-3 > h1{
	background-color: transparent;
	margin-top: 50px;
	font-size: 50px;
}

.about-3 > h2{
	background-color: transparent;
	margin-top: 10px;
	font-size: 30px;
}
